.nav-link{
    color: rgb(243, 243, 243);
    font-weight: bolder;
}

.navbar{
    border-bottom: 2px solid rgb(196, 196, 196);
    background-color: #ffffff;
    padding-top: 0%;
    padding-bottom: 0%;
}

.tamanoimgf{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.con_img{
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoimg{
    position:fixed;
    top: 30%;
    left: 5%;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -3px;
}

/* Footer estilizado */


.pa_reg{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:dodgerblue;
} 

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1b3248;
}
 

.nosotros-container {
    display: flex;
    align-items: center;
    
    margin-top: 20px; /* Ajusta según sea necesario */
    margin-bottom: 20px; /* Ajusta según sea necesario */
}

.nosotros-carousel {
    width: 50%; /* Ajusta el ancho del carrusel según sea necesario */
}

.nosotros-text {
    width: 45%; /* Ajusta el ancho del texto según sea necesario */
}
.texto-container {
    background-color: #592b02; /* Color de fondo café */
    color: #ffffff; /* Color del texto blanco */
    padding: 16px; /* Espaciado interno del contenedor */
    border-radius: 4px; /* Bordes redondeados para el contenedor */
}
.nosotros-text p {
    text-align: left;
}

.card-margen-inferior {
    margin-bottom: 20px;
  }



  .body{
    margin:0;
    background-color: #ffffff;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }

  .footer{
    background-color: #1b3248;
    padding: 0.8em 0;
    
    text-align: right;
    margin-top: auto;
    min-height: 20px;
    color: #ffffff;
    width: 100%;
    position: absolute;
    
  }
  footer2 {
    background-color: #1b3248;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    color: #ffffff;
    left: 0;
    margin-top: 20px;
  }